@page
@model Razor_Page_CRUD_NET.Pages.Clients.IndexModel
@{
}

<h1>List Of Clients</h1>

<a class="btn btn-primary mb-4" href="/Clients/Create">Add New Client</a>

<table class="table table-dark table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Action</th>
		</tr>
	</thead>

	<tbody>
		
			@foreach (var item in Model.listClient)
			{
				<tr>
					<td>@item.id</td>
					<td>@item.name</td>
					<td>@item.email</td>
					<td>@item.phone</td>
					<td>
						<a class="btn btn-primary" href="/Clients/Edit?id=@item.id">Edit</a>
						<a class="btn btn-danger" href="/Clients/Delete?id=@item.id">Delete</a>
					</td>
				</tr>
			}
		
	</tbody>
</table>